.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.NavBarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NavBarItem__imageBox   {
    width: 135px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavBarItem__image  {
    max-width: 100%;
    width: auto;
    min-height: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.NavBarItem__title  {
    display: block;
    margin-top: 9px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: (19/16);
    color: #363636;
}